
.catalog-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px; 
    text-transform: uppercase;
    color: #1E0606;
    margin: 0 0 15px 0;
}

.catalog-up {
    display: flex;
    flex-wrap: wrap;
    margin: -11px 0px 50px -9px;
}

.catalog-up p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.catalog-item {
    display: flex;
    width: 280px;
    height: 270px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.catalog-item p {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 72%;
    margin: 0 auto;
}

.catalog-item p:hover {
    text-decoration-line: underline;
}

.catalog-item p:active {
    text-decoration-line: underline;
}

.img1 {
    background-image: url('../images/apparelkids.jpg');
    background-color: #DBE4DB;
}

.img2 {
    background-image: url('../images/holidayshop.jpg');
    background-color: #EADDD3;
}

.img3 {
    background-image: url('../images/toys.jpg');
    background-color: #F8F2DA;
    margin-right: 50px;
}

.img4 {
    background-image: url('../images/accessories.jpg');
    background-color: #D5D4E1;
    margin-left: 208px;
}

.img5 {
    background-image: url('../images/catalog/sale.jpg');
    background-color: #F3D0DB;
}

.img6 {
    background-image: url('../images/catalog/APPARELadults.jpg');
    background-color: #E5EAF8;
}

.catalog-product {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 24px;
}

.product {
    width: 680px;
    margin: 0px -10px 55px 199px;
}

.product p {
    margin-bottom: 15px;
    margin-top: 0;
}