

/*BANNER*/

.banner {
   background-color: #EEE4DB;
}

.banner-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    margin-bottom: 20px;
    padding: 89px 0 0;
}

.banner-list{
    display: flex;
    justify-content: space-between;
}

.banner-item {
    margin-right: 29px;
}

.banner-monstr {
    margin: -94px 587px -12px 0px;
    background: transparent;
}

.insert {
    display: flex;
    background-color: #C29974;
    margin-bottom: 90px;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px;
}

.button-page,
.button-page-checked {
    font-size: 5px;
    display: block;
    border: none;
    cursor: pointer;
    margin-bottom: 11px;
    width: 31px;
    height: 3px;
}

.button-page {
    background-color: #D6CAC2;
}

.button-page-checked {
    background: #725F5B;
}

.button-page:hover {
    background: #725F5B;
}

.button-page-checked {
    background: #725F5B;
}

.designed {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.page {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    margin: 0 auto 5px 0;
}

.sheet{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 17px 0px 0px 28px;
}

/*category*/

.category {
    margin-bottom: 30px;
} 

.category-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.category-item {
    display: flex;
    width: 280px;
    height: 270px;
    align-items: center;
    justify-content: center;
}

.img1 {
    display: flex;
    background-image: url('../images/apparelkids.jpg');
    background-color: #DBE4DB;
}

.img2 {
    display: flex;
    background-image: url('../images/holidayshop.jpg');
    background-color: #EADDD3;
}

.img3 {
    display: flex;
    background-image: url('../images/toys.jpg');
    background-color: #F8F2DA;
}

.img4 {
    display: flex;
    background-image: url('../images/accessories.jpg');
    background-color: #D5D4E1;
}

.category-heading {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 50%;
    margin: 0 auto 0;
}

.category-heading:hover {
    text-decoration-line: underline;
}

.category-heading:active {
    text-decoration-line: underline;
}

/*arrow*/

.arrow-wrapper{
    display: flex;
    margin-bottom: 90px;
    align-items: center;
}

.arrow {
    width: 37px;
    height: 37px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-right: 0.6rem;
    border: 0;
    background-position: center;
}

.arrowL {
    background-image: url('../images/VectorL.svg'); background-color: rgba(112, 187, 220, 0.2);
}

.arrowR {
    background-image: url('../images/VectorR.svg'); background-color: rgba(112, 187, 220, 0.2);
}

.arrow-text {
    width: 90%;
    max-width: 580px;
    margin-left: 20px;
}

/*DELIVERY*/

.delivery {
    display: flex;
    align-items: flex-start;
    margin-bottom: 91px;
    justify-content: space-between;
}

.delivery-title {
    font-family: 'Montserrat';
    font-size: 38px;
    text-transform: uppercase;
    margin: 30px auto 0 0;
    position: relative;
    cursor: pointer;
}

.delivery-title::after {
    content: '';
    position: absolute;
    width: 326px;
    height: 55px;
    left: -60px;
    top: 38px;
    background: #70BBDC33;
}

.selection {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.delivery-img{
    text-align: left;
    margin-right: 120px;
}

.delivery-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 480px;
    margin-right: 121px;
}

.delivery-ul {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}

.delivery-ul li {
    margin: 0 0 22px 0;
    cursor: pointer;
}


/*brands*/

.brands {
    margin-bottom: 90px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/*ABOUT*/

.about {
    display: flex;
    align-items: flex-start;
    margin-bottom: 155px;
}

.about p {
    margin: 10px 0 20px 0;
}

.about-item {
    background: #E1F0F7;
    width: 543px;
    padding: 0 30px 30px;
}

.about-item:first-child {
    margin-right: 57px;
}

.about-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin: -23px 0 10px;
}

.map {
    margin-bottom: -155px;
}

.about-ul {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
}


/*POPUP*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(125, 151, 218, 0.8);
    
}

.popup-open {
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.popup-close {
    border: none;
    background: transparent;
    position: absolute;
    right: -30px;
    top: 0;
    color: #FFFFFF;
    transform: rotate(90deg);
    cursor: pointer;
}

.popup-close:hover {
    opacity: .7;
}

.popup-close:active {
    opacity: .4;
}










