

/*BANNER*/

.banner {
   background-color: #EEE4DB;
   padding: 89px 0 128px;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
}

.banner-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    margin: 0;
    margin-bottom: 20px;
    width: 80%;
}

.insert {
    display: flex;
    background-color: #C29974;
    justify-content: center;
    margin-bottom: 90px;
}

/*category*/

.category {
    margin-bottom: 30px;
} 

.category-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    text-align: left;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.category-item {
    display: flex;
    width: 280px;
    height: 270px;
    align-items: center;
    justify-content: center;
}

.img1 {
    display: flex;
    background-image: url('../images/apparelkids.jpg');
    background-color: #DBE4DB;
    width: 280px;
    height: 270px;
    align-items: center;
    justify-content: center;
}

.img2 {
    background-image: url('../images/holidayshop.jpg');
    background-color: #EADDD3;
    width: 280px;
    height: 270px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img3 {
    display: flex;
    background-image: url('../images/toys.jpg');
    background-color: #F8F2DA;
    width: 280px;
    height: 270px;
    align-items: center;
    justify-content: center;
}

.img4 {
    display: flex;
    background-image: url('../images/accessories.jpg');
    background-color: #D5D4E1;
    width: 280px;
    height: 270px;
    align-items: center;
    justify-content: center;
}

.category-heading {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 90%;
    margin: 0 auto 0;
}

/*delivery*/

.delivery {
    display: flex;
    align-items: flex-start;
    max-width: 1080px;
    margin-bottom: 91px;
    justify-content: space-between;
}

.delivery-title {
    font-family: 'Montserrat';
    margin: 0 0 46;
}

.delivery-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 480px;
}


/*brands*/

.brands {
    margin-bottom: 90px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
}
